/* colors */
* {
  al:   #00000000;
  bg:   #1F1F1FFF;
  bga:  #546e7a33;
  bar:  #FFFFFFFF;
  fg:   #FFFFFFFF;
  ac:   #546e7aFF;
}

* {
    background:     #1F1F1FFF;
    background-alt: #546e7a33;
    foreground:     #C0CAF5FF;
    selected:       #546e7aFF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
