#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
  font-family: "Noto Sans Mono Light";
  font-size: 14px;
}
/* padding */
#workspaces,
#backlight,
#battery,
#pulseaudio,
#language,
#clock {
  padding: 6px 10px;
}
#workspaces {
  padding-left: 20px;
}
#clock {
  padding-right: 20px;
}
/* workspaces */
#workspaces button {
  font-size: 16px;
  padding: 0 1px;
  color: #6c7086;
  border: none;
}
#workspaces button.active {
  color: #89b4fa;
}
#workspaces button.urgent {
  color: #f38ba8;
}
#workspaces button:hover {
  background: none;
  color: #cba6f7;
}
/* battery */
#battery.critical {
  color: #f38ba8;
}
#battery.warning {
  color: #fab387;
}
#battery.low {
  color: #f9e2af;
}
